<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Война Вирусов</title>
    <link href='/styles/main.css' rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;700&display=swap" rel="stylesheet">


</head>

<body>
    <h1 class="title">Война Вирусов</h1>
    <input type="button" class="buttonGame" onclick="document.location='/view/game.html'" value="Найти игру">

    <input type="button" class="buttonArch" onclick="document.location='/view/table.html'" value="Посмотреть архив игр">

    <footer>
        <h3 class='author' >Оганян Роберт 381808-1</h3>
    </footer>
</body>

</html>