<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Архив</title>
    <link href='/styles/main.css' rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;700&display=swap" rel="stylesheet">

    <script src='/scripts/ShowTable.js'> </script> 
    <style href = '/styles/main.css'>  </style>

</head>

<body onload="init()">

    <h1 class="title"> Архив матчей </h1>
    <table class="styled-table" id='table_data'></table>

</body>

</html>